  body {
    background-image: url('../images/sky-173742_1920.jpg');
  }
  
  .g-header {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    min-height: 60px;
    top: 0;
    position: fixed;
    z-index: 22;
    }

  .g-header header, .g-header {
    width: 100%;
    margin: 0 auto;
  }

  .g-body {
    border-top: 61px solid #ececec;
    width: 100vw;
    margin: 0 auto;
    min-height: 95vh;
    display: -ms-flexbox;
    display: flex;
  }

  .g-body-login {
    width: 100vw;
    height: 97vh;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .g-inner-content {
    width: 100%;
    border: 0 solid;
    border-top-right-radius: 3px;
    background: #fff;
  }

  .g-inner-menu{
    width: 180px;
    border-top-left-radius: 3px;
    border: 0 solid;
    -ms-flex-align: stretch;
    align-items: stretch;
    background: #fbfbfb;
  }

  .g-inner-menu ul a li, .g-user {
    color: #1976d2!important;
    display: block;
    padding: 15px 20px;
    border-right: 3px solid #fbfbfb;
    text-transform: uppercase;
  }

  .g-inner-menu ul a li:hover, .g-inner-menu ul li:hover .g-sub-menu, 
  .g-inner-menu ul a.selected li, .g-user:hover,
  .g-sub-menu a.selected + .g-user,
  .g-sub-menu:hover + .g-user
  .g-sub-menu:focus + .g-user {
    border-right: 3px solid #8492a6;
    background-color: #e5e9f2;
  }

  .g-inner-menu ul a li i, .g-sub-menu i, .g-user i {
    float: right;
  }

  .g-user:hover + .g-sub-menu ,
  .g-user:focus + .g-sub-menu ,
  .g-sub-menu:hover {
    display: block !important;
  }
  .g-sub-menu {
      display: none;
      position: absolute;
      z-index: 99;
      background-color: #fff;
      margin-left: 157px;
      margin-top: -4%;
  }

/************************ MENU *************************************/

.ga-hamburger {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 60px;
  padding: 0;
  transition: transform 0.2s ease-in-out;
  vertical-align: middle;
  width: 28px;
  margin: 2px 15px;
}

.ga-hamburger:focus {
  outline: 0;
}

.ga-hamburger::before,
.ga-hamburger::after {
  content: '';
}

.ga-hamburger::before,
.ga-hamburger .icon,
.ga-hamburger::after {
  background: #fff;
  display: block;
  height: 4px;
  margin: 0 0 4px;
  transition: transform 0.2s ease-in-out;
  width: 100%;
}

.ga-hamburger.active::before,
.ga-hamburger.active .icon,
.ga-hamburger.active::after {
  background: #fff;
}

.ga-hamburger.hamburger-vertical.active {
  transform: rotate(270deg);
}

.ga-hamburger.hamburger-cancel.active .icon {
  transform: scale(0);
}

.ga-hamburger.hamburger-cancel.active::before {
  transform: translateY(8px) rotate(135deg);
}

.ga-hamburger.hamburger-cancel.active::after {
  transform: translateY(-8px) rotate(-135deg);
}

.ga-trigger-menu {
  width: 60px;
  height: 60px;
  display: inline-flex;
  float: left;
  background:url('../images/bg-menu-trans.png') center center no-repeat;
}

.g-oculta-menu {
  margin-left: -113px;
  transition: sopacity 0.3s, transform 1s 0.3s;
}

.g-text-alig-center {
  text-align: center !important;
}

.ga-trigger-nome-projeto {
  width: 100px;
  height: 60px;
  display: inline-flex;
  float: left;
  padding: 15px 0px 0px 20px;
}

.ga-trigger-nome-projeto span {
  color: #fff;
  font-size: 1.6em;
}

.ga-info-user {
  display: inline-flex;
  flex-direction: row-reverse;
  margin-right: 10px;
  height: 60px;
}

.ga-user {
  display: inline-block;
  height: 50px; 
}

.ga-user-img {
  max-width: 50px;
  width: 50px;
  height: 50px;
  max-height: 50px;
  border-radius: 500px;
}

.g-user-img-60 {
  max-width: 60px;
  width: 60px;
  height: 60px;
  max-height: 60px;
  border-radius: 500px;
}

.ga-user-nome {
  min-width: 100px;
}

.ga-user-details {
  min-height: 120px;
  min-width: 250px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
  text-align: left;
  position: absolute;
  right: 10px;
  z-index: 99;
  padding: 10px;
}

.ga-arrow-up {
  position: absolute;
  left: 88%;
  margin-top: -25px;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
}

.ga-hidden {
  display: none !important;
}

.ga-write {
  color: #fff;
}

.ga-user-info-details {
  width: 100%;
}

.ga-user-info-details span {
  float: right;
  margin-top: 40px;
}

.g-form-login {
  width: 300px;
}

.g-card {
  width: 350px;
  height: 400px;
  box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
}

.g-header-form {
  text-align: center;
}

.g-header-form img {
  background-color: #bfe3ff73;
}